@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

.login-form {
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

.login-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header img {
  width: 300px;
}

.login-header h1 {
  font-size: 2.5em;
  padding: 40px 0;
}

.login-input {
  border: 3px solid rgba(46, 235, 13);
  border-radius: 8px;
  color: #000;
  font-size: 1.5em;
  font-weight: 550;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0 5px;
}

.login-button {
  background-color: darkgreen;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  max-width: 300px;
  padding: 5px;
  width: 100%;
}

.login-button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}